    <div id="icons">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img id="biosilk" src="/img/biosilk.svg" />
            <img id="balmain" src="/img/balmain.svg" />
            <img id="maroccanoil" src="/img/maroccanoil.svg" />
            <img id="sebastian" src="/img/sebastian.svg" />
            <img id="marcinbane" src="/img/marcinbane.svg" />
            <img id="chi" src="/img/chi.svg" />
            <img id="flipinhair" src="/img/flipinhair.svg" />
          </div>
        </div>
      </div>
    </div>

<footer>

<div class="site-footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12 hidden-xs"><h3>Contact</h3><p>{% include contactinfo.html %}</p></div>
            <div class="col-lg-3 col-md-6 col-xs-12 hidden-xs"><h3>Openingstijden</h3>{% include openingstijden.html %}</div>
            <div class="col-lg-3 col-md-6 col-xs-12 hidden-xs"><h3 class="editable">Afspraak</h3><p class="editable">Neem plaats in één van onze comfortabele kappersstoelen voor een behandeling. Bel voor een afspraak.<br /><br />Tel: 026-325 73 52</p></div>
            <div class="col-lg-3 col-md-6 col-xs-12"><h3 class="editable">Social media</h3><p class="editable">Wil je op de hoogte blijven van leuke acties, trends en verzorgingstips voor je haar? Volg RAF kappers op <a href="https://www.facebook.com/rafkappers/">Facebook</a> en <a href="https://www.instagram.com/rafkappers/">Instagram</a> en je weet (haarfijn) alle details.</p></div>
          </div>
      </div>
</div>
<div class="site-footer2">
      <div class="container">
        <div class="row">
        	<div class="col-lg-12 text-center"><p>Copyright © Raf Kappers 2016 • Created by <a href="http://supremebeing.amsterdam" target="_blank">Supreme Being 21.3</a> <i class="fa icon-facebook-squared" onclick="window.open('https://www.facebook.com/rafkappers/');"></i></p></div>
        </div>
      </div>
</div>
</footer>

</div>

<div id="lightbox" style="width:100%;height:100%;" onclick="closeimage();"><div style="display:table-cell;vertical-align:middle;"><div id="controls"><span onclick="goPrev(event); return false;" id="prevbutton">‹</span><span onclick="goNext(event); return false;" id="nextbutton">›</span></div><span id="closebutton">sluiten</span><img id="image" src="" /></div></div>

</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/js/combined.js" | prepend: site.baseurl }}"></script>
    
    <script>
    //open external links in a new window
    function externalLinks() {
      for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
        var b = c[a];
        b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
      }
    }
    externalLinks();
    </script>