<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home" id="top">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/rafkappers.svg" /></td></tr></table></div>
  <div id="nonsplash">
      <script>document.getElementById('nonsplash').style.display = 'none';</script>
    {% include header.html %}
    <div class="intro"><div><div>
  		<div class="container">
  			<div class="row">
  		    	<div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 highlight">
            <table cellpadding="0" cellspacing="0"><tr><td>
            {% for d in page.highlights %}
  		    	    <article id="n{{ forloop.index }}">
                        <header class="post-header">
                          <h1 class="post-title">{{ d.title }}</h1>
                        </header>
                      
                        <div class="post-content">
                              <p>{{ d.text }}</p>
                              <a href="/contact" class="btn btn-primary">Maak een afspraak</a><br />
                              <a href="tel:020-6732374" class="btn mobile">bel 020-6732374</a>
                              <span class="btn desktop">bel 020-6732374</span>
                        </div>
                </article>
            {% endfor %}
            </td></tr></table>
  		    	</div>
  		    </div>
  		</div>
    </div></div></div>


    <div class="light" id="over-ons">
      <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10">
                <article>
                     
                        <header class="post-header">
                          <h1 class="post-title editable">Over Raf Kappers</h1>
                        </header>
                      
                        <div class="post-content"><div class="editable"><p>Wat ik als eigenaar van deze salon het belangrijkste vind, is dat je als klant persoonlijke aandacht krijgt en het gevoel krijgt dat je welkom bent. Wij onderscheiden onszelf door de tijd te nemen voor een behandeling, of je nu komt voor het knippen van je vertrouwde kapsel of een nieuwe coup, wij willen dat de klant tevreden de deur uitloopt. Huissen is een prettige stad om te wonen en te werken, ik voel mij er thuis en dat gevoel van thuiskomen wil ik mijn klanten ook bieden. <!--<a href="/over-ons/index.html">lees&nbsp;meer&nbsp;&rarr;</a>--></p></div>
                              <a href="/#contact" class="btn btn-primary">Contact</a>
                        </div>
                      
                </article>
            </div>
            <div class="col-lg-2 col-md-1"></div>
          </div>
      </div>
    </div>




    <div class="salon" id="openingstijden">
      <div class="container">
        <div class="circle">
          <article>
            <header class="post-header">
              <h1 class="post-title">Openingstijden</h1>
            </header>
            <div class="post-content">
              {% include openingstijden.html %}
            </div>
        </article></div>
      </div>
    </div>


    <div class="behandelingen" id="behandelingen">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="post-title editable">Behandelingen</h1>
            </div>
        </div>
        <div class="row post-content">
            <div class="col-lg-9">
            dsf
            </div>
          </div>
      </div>
    </div>


    <div class="team" id="team">
      <div class="container">
        <article>
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-10 col-lg-8">

                        <header class="post-header">
                          <h1 class="post-title editable">Team</h1>
                        </header>
            </div>
            <div class="col-md-1 col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-xs-6"><img src="/img/raf.jpg" /></div>
            <div class="col-md-3 col-xs-6"><img src="/img/rosanne.jpg" /></div>
            <div class="col-md-3 col-xs-6"><img src="/img/raf.jpg" /></div>
            <div class="col-md-3 col-xs-6"><img src="/img/rosanne.jpg" /></div>
        </div>
        </article>
      </div>
    </div>

    <div class="light" id="contact">
      <div class="container">
        <div class="row">
            <div class="col-sm-2 col-lg-3"></div>
            <div class="col-sm-8 col-lg-6">
                <article>
                        <header class="post-header">
                          <h1 class="post-title editable">Contact</h1>
                        </header>
                                              
                        <div class="post-content">map
                        </div>
                </article>
            </div>
            <div class="col-sm-2 col-lg-3">LANGESTRAAT 86A<br />6851 AT • HUISSEN<br />T : 026 – 325 73 52<br />E : INFO@RAFKAPPERS.NL</div>
          </div>
      </div>
    </div>


   

    {% include footer.html %}
</div>
  </body>

</html>
